html {
	height: 100%;
	width:100%;
}

body {
	font-size: 75.5%;
	font-family: Georgia, Times, serif;
	height: 100%;
	width:100%;
	margin:0px;
}

#titleBar{
position:fixed;top:0px;
height: 7%;
width: 100%;
background: #3EA99F;
text-align:center;
}
.titleBar{
position:fixed;top:0px;
height: 7%;
width: 100%;
background: #3EA99F;
text-align:center;
}
#footerBar{
height: 7%;
width: 100%;
position:fixed;bottom:0px;
background: #3EA99F;
text-align:right;
padding-right:2%;
}
#logo{
height:90%;
}
#linkBrowse{
color: #ffff;
}
.browseButton {
	margin-right:1%;
	margin-top:0.4%;
	border:1px solid #dcdcdc;
	background: #6EA99F;
	height:70%;
	width:18%;
	display:inline-block;
}
.browseButton p{
	color:#fffcfc;
	font-family:arial;
	font-size:75%;
	font-weight:bold;
	font-style:normal;
	margin-top:2%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.backButton {
	margin-left:1%;
	margin-top:0.4%;
	border:1px solid #dcdcdc;
	background: #6EA99F;
	height:70%;
	width:18%;
	display:none;
}
.backButton p{
	color:#fffcfc;
	font-family:arial;
	font-size:75%;
	font-weight:bold;
	font-style:normal;
	margin-top:2%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}

#searchContainer{
margin-top:20%;
text-align:center;
width:100%;
}
#searchInput{
width:50%;
}
.searchButton{
	margin-right:1%;
	margin-top:0.4%;
	border:1px solid #dcdcdc;
	background: #6EA99F;
	height:20%;
	min-width:70px;
	width:10%;
	display:inline-block;
}
.searchButton p{
	color:#fffcfc;
	font-family:arial;
	font-size:75%;
	font-weight:bold;
	font-style:normal;
	margin-top:2%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}

a:-webkit-any-link {

text-decoration: none;
cursor: auto;
}

.nav-indicator {background-color:#3EA99F;margin:0;}
.listItemIndexList { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; 
border-bottom-style:solid; border-bottom-width: 1%; border-bottom-color:#CCCCCC; cursor:pointer; margin:0; }
.listItemIndexList1 { display:block; text-decoration:none; color:#000000; background-color:#eeeeee; 
border-bottom-style:solid; border-bottom-width: 1%; border-bottom-color:#CCCCCC; cursor:pointer; margin:0; }
#iphone-search { list-style: none; padding:0 1%; margin:0; font-family:Georgia, Times, serif; font-size:12px; line-height:120%; left:95%; 
position:fixed; text-align:center; font-weight:bold; }
#iphone-search li a { text-decoration:none; color:#666666; }
#iphone-scroll {  padding:0; margin:0; font-family:Georgia, Times, serif; }
#iphone-scroll ul {  padding:0; margin:0; }

#Tabs {
display: none;
margin-top:12%;
margin-left:0px;
width:100%;
}
#tabsList {
margin-left:10%;
width:100%;
list-style-type: none;
}

#li_tab1 {
display: inline-block;
height: 40%;
width:35%;
}

#li_tab2 {
display: inline-block;
height: 40%;
width:35%;
}

#tab1Link{
position: relative;
display: block;
line-height: 24px;
background: #f6f6f6;
z-index: 9999;
border: 1px solid #ccc;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

width: 95%;
color: #000000;
text-decoration: none;
font-weight: bold;
}

#tab2Link{
position: relative;
display: block;
line-height: 24px;
background: #f6f6f6;
z-index: 9999;
border: 1px solid #ccc;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

width: 95%;
color: #000000;
text-decoration: none;
font-weight: bold;
}
#Tabs ul li a:hover {
text-decoration: underline; // a very simple effect when hovering the mouse on tab
}

#Content_Area {
	clear: both;
	line-height: 19px;
	position: relative;
	z-index: 5;
	margin:0px;
} 

#nlists{
	margin:0;
	padding:0;
}
#nlists li.head  {
	display: block;
	background-color:#3EA99F;
	margin:0;
	padding:0;
	height: 25px;
}



